* {
  box-sizing: border-box;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
body {
  background-color: #fbfbfd;
  padding: 5rem;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
input,
select,
button,
textarea {
  font-size: 1.6rem;

  outline: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
$primary: #fb4a54;
$text-color: #271768;

.signup {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(black, 0.1);
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  &__content,
  &__image {
    width: calc(50% - 4rem);
  }
  &__heading {
    font-weight: bold;
    font-size: 4.5rem;
    margin-bottom: 3rem;
    color: $text-color;
  }
  &__caption {
    color: $primary;
    font-weight: bold;
    margin-bottom: 4.5rem;
    position: relative;
    padding-left: 12rem;
    &::before {
      content: "";
      position: absolute;
      width: 10rem;
      height: 2px;
      top: 50%;
      left: 0;
      background-color: $primary;
      margin-top: -1;
    }
  }
  &-social {
    @include flexbox(stretch, space-between);
    margin-bottom: 6rem;
    &__item {
      padding: 1.5rem 2.5rem;
      border-radius: 10px;
      border: 1px solid #eee;
      cursor: pointer;
      @include flexbox(center, center);
      color: $text-color;
      width: calc(50% - 1.5rem);
    }
    &__icon {
      margin-right: 2rem;
    }
    &__link {
      color: $text-color;
    }
  }
  &-form {
    &__row {
      @include flexbox(stretch, space-between);
      margin-bottom: 30px;
      .signup-form__group {
        width: calc(50% - 1.5rem);
      }
    }
    &__label {
      color: $text-color;
      display: inline-block;
      margin-bottom: 1rem;
      cursor: pointer;
      transform: translateX(1rem);
    }
    &__input {
      background-color: #fafbff;
      padding: 1.5rem 2rem;
      border: 1px solid #eee;
      border-radius: 10px;
      display: block;
      width: 100%;
      transition: all 0.25s linear;
      &:focus {
        background-color: #ffff;
        border-color: $primary;
        & + .signup-form__check {
          transition: all 0.25s linear;
          background-color: $primary;
          color: white;
        }
      }
    }
    &__term {
      input {
        display: none;
        &:checked + label::before {
          background-color: $primary;
          border-color: $primary;
        }
        &:checked + label::after {
          opacity: 1;
          visibility: visible;
        }
      }
      label {
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin-top: 3rem;
        padding-left: 3.5rem;
        margin-bottom: 5rem;
        &::before {
          content: "";
          position: absolute;
          @include size(2rem);
          border-radius: 8px;
          background-color: #eee;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          border: 1px solid #aaa;
          transition: all 0.25s linear;
        }
        &::after {
          content: "";
          position: absolute;
          @include size(1rem, 0.5rem);
          top: 0;
          left: 0.4rem;
          transform: translateY(-0.4rem);
          border-left: 4px solid white;
          border-bottom: 4px solid white;
          transform: rotate(-45deg);
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    &__submit {
      @include size(8rem);
      color: white;
      border: 0;
      border-radius: 3rem;
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      cursor: pointer;
      margin-bottom: 65px;
      box-shadow: 0 10px 5px 0px rgba($primary, 0.5);
    }
    &__validate {
      position: relative;
      .signup-form__input {
        padding-right: 6rem;
      }
    }
    &__check {
      @include size(2rem);
      border: 0;
      border-radius: 8px;
      background-color: #eee;
      color: $text-color;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__already {
    color: $text-color;
    a {
      color: $primary;
    }
  }
}

// responsive
@media screen and (max-width: 1439px) {
  .signup {
    &__content {
      width: calc(60% - 1rem);
    }
    &__image {
      width: calc(40% - 1rem);
    }
  }
}
@media screen and (max-width: 1279px) {
  .signup {
    &__content {
      width: 100%;
    }
    &__image {
      display: none;
    }
  }
}
@media screen and (max-width: 1279px) {
  body {
    padding: 1rem;
  }
  .signup {
    padding: 1rem;
    &-social {
      flex-direction: column;
      &__item {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
    &-form {
      &__row {
        flex-direction: column;
        margin-bottom: 0;
        .signup-form__group {
          width: 100%;
        }
      }
      &__group {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}
